{% load static %}
<!-- BLOG BEGIN -->
<div class="container-fluid">
    <div class="container">
        {% if posts %}
            {% for post in posts %}
                {% if forloop.counter == 1 %}
                    <div class="col-md-5 authors-image-con text-center">
                        <img src="{{ post.photo.url }}" alt="Haber1" class="img-responsive">
                    </div>
                    <div class="col-md-7 authors-content-con text-right">
                        <div class="row">
                            <div class="col-md-7 col-md-push-5">
                                <h2>{{ post.title }}</h2>
                            </div>
                        </div>
                        <hr>
                        <p>
                            {{ post.content|truncatewords:120 }}
                        </p>
                        <a href="{{ post.get_absolute_url }}">>>Devamı</a>
                    </div>
                {% endif %}
                {% if forloop.counter == 1 %}
                    <div class="col-md-7 authors-content-con text-left">
                        <div class="row">
                            <div class="col-md-7">
                                <h2>{{ post.title }}</h2>
                            </div>
                        </div>
                        <hr>
                        <p>
                            {{ post.content| truncatewords:250 }}
                        </p>
                        <a href="{{ post.get_absolute_url }}">>>Devamı</a>
                    </div>
                    <div class="col-md-5 authors-image-con text-center">
                        <a href="#">
                            <img src="{{ post.photo.url }}" alt="Haber1" class="img-responsive">
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>
